[core]
	quotepath = false
	excludesfile = ~/.git/.gitignore
	autocrlf = input
[user]
	name = Orr Sella
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
	keepBackup = true
[merge]
	tool = Kaleidoscope
[github]
	user = orrsella
[init]
	templatedir = ~/.git/templates
[push]
	default = simple
