vim/vim/bundle/*
vim/vim/swaps/*
alfred/Alfred.alfredpreferences/clipboard/snippets.alfdb
alfred/Alfred.alfredpreferences/preferences/local/f633d0ffff25063ad632e36b6f33f79b0b9f29b4
alfred/Alfred.alfredpreferences/remote/
