<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fallbacks</key>
	<array>
		<string>features.websearch.custom.1B9FC753-D926-4170-8081-F7BB08614B08.fallback</string>
		<string>features.websearch.google.fallback</string>
		<string>features.websearch.amazon.fallback</string>
		<string>features.websearch.wiki.fallback</string>
	</array>
	<key>showContacts</key>
	<false/>
	<key>showDocuments</key>
	<true/>
	<key>showFolders</key>
	<true/>
	<key>showImages</key>
	<true/>
	<key>showTextFiles</key>
	<true/>
</dict>
</plist>
